doc/* linguist-documentation=true
tcsdata/docs/* linguist-documentation=true
lpsolve/* linguist-vendored=true
nlopt/* linguist-vendored=true
examples/* linguist-vendored=true
build_*/* linguist_generated=true
